.container {
    width: 100%;
    outline: solid red;
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;

}

/* Header */
.header-container {
    display: flex;
    align-items: center;
}

.navigation {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.logo {
    display: flex;
    gap: 4px;
    padding-top: 24px;
    padding-bottom: 24px;
    align-items: center;
}

.logo-text {
    color: var(--title-color, #111);
    font-size: 14px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: -0.03em;
}

.logo-icon {
    fill: #fcf1e0;
}

.header-menu-list {
    display: none;
    align-items: center;
    gap: 20px;
}

.header-link {
    color: var(--title-color, #111);
    font-size: 14px;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: -0.02em;
    padding: 24px 0;
}

.header-socials {
    display: none;
    align-items: center;
    gap: 14px;
    margin-left: 28px;
}

.header-social-link {
    border-radius: 10px;
    border: 1px solid rgba(17, 17, 17, 0.1);
    padding: 8px;
    display: flex;
    color: var(--title-color);
}

.header-social-link:hover,
.header-social-link:focus {
    border: 1px solid rgba(253, 146, 34, 0.10);
    color: var(--accent-color);
}

.header-icon {
    fill: currentColor;
}

.header-btn{
    background-color: transparent;
    width: 28px;
    height: 28px;
}

.header-burger{
    stroke: #111;
}

/* MOBILE MENU  */

.menu-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: fixed;
    /* width: 60vw; */
    width: 220px;
    height: 100vh;
    top: 0;
    right: 0;
    background-color: var(--bckg-color);
    padding: 136px 20px 20px 20px;
    transform: translateX(100%);
    transition: transform 250ms ease-in-out;
}

.menu-container.is-open {
    transform: translateX(0);
  }

.menu-close {
    position: absolute;
    top: 20px;
    right: 20px;
    background-color: transparent;
}

.menu-close-svg {
    fill: var(--text-color);
}

.menu-close:active .menu-close-svg,
.menu-close:focus .menu-close-svg {
    fill: var(--accent-color);
}

.mobile-link {
    display: block;
    color: var(--text-color);
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: -0.02em;
    padding: 12px 0;
}

.mobile-link:active,
.mobile-link:focus {
    color: var(--accent-color);
}

.mobile-socials {
    display: flex;
    gap: 14px;
}

.mobile-socials-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.10);
}

.mobile-socials-link:active,
.mobile-socials-link:focus {
    border-color: var(--accent-color);
}

.mobile-social-svg {
    fill: var(--text-color);
}

.mobile-socials-link:active .mobile-social-svg,
.mobile-socials-link:focus .mobile-social-svg {
    fill: var(--accent-color);
}
/* HERO */
.hero {
    padding-bottom: 80px;
}

.hero-container {
    border-radius: 30px;
    background: rgba(17, 17, 17, 0.7);
    padding: 395px 22px 20px 20px;
    background-image: linear-gradient(rgba(17, 17, 17, 0.4),
            rgba(17, 17, 17, 0.4)),
        url(../images/hero/hero-bg-optim.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.hero-title {
    max-width: 484px;
    margin-bottom: 32px;
    color: var(--text-color);
    font-size: 20px;
    font-weight: 500;
    line-height: 1.21;
    letter-spacing: -0.03em;
    letter-spacing: -0.6px;
}

.btn-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 32px;
}

/* ПОФІКСИТИ */

.btn {
    color: var(--text-color);
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 600;
    padding: 12px 28px;
    border-radius: 100px;
    min-width: 120px;
    min-height: 41px;
}

.hero-buy {
    background-color: var(--accent-color);
    margin-right: 14px;
}

.hero-made {
    background-color: transparent;
    border: 1px solid #fff;
}

.arrow-link {
    display: flex;
    align-items: center;
    gap: 14px;
}

.arrow-icon {
    padding: 8px;
    background-color: var(--text-color);
    fill: var(--accent-color);
    border-radius: 50%;
}


@media screen and (min-width:375px) {
    .container {
        max-width: 375px;
    }
}