:root {
  --title-color: #111111;
  --bckg-color: #1e1823;
  --accent-color: #fd9222;
  --text-color: #ffffff;
  --modal-bg-color: #fafafa;

  --font-main: "Montserrat", sans-serif;

  --gap: 32px;
  --items: 4;
}

body {
  font-family: var(--font-main);
}

.grid-list {
}

.grid-item {
  flex-basis: calc((100% - var(--gap) * (var(--items) - 1)) / var(--items));
}

/* HEADER */
.header-container {
  display: flex;
  align-items: center;
}

.header {
}

.navigation {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.logo {
  display: flex;
  gap: 4px;
  padding-top: 24px;
  padding-bottom: 24px;
  align-items: center;
}

.logo-text {
  color: var(--title-color, #111);
  font-size: 18px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: -0.03em;
}

.logo-icon {
  fill: #fcf1e0;
}

.header-menu-list {
  display: flex;
  align-items: center;
  gap: 24px;
}

.header-item {
}

.header-link {
  color: var(--title-color, #111);
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: -0.02em;
  padding: 24px 0;
}

.header-socials {
  display: flex;
  align-items: center;
  gap: 14px;
  margin-left: 90px;
}

.header-social {
}

.header-social-link {
  border-radius: 10px;
  border: 1px solid rgba(17, 17, 17, 0.1);
  padding: 8px;
  display: flex;
}

.header-icon {
  fill: var(--title-color);
}

/* Hero */
.hero {
  padding-bottom: 80px;
}

.hero .container {
  border-radius: 30px;
  background: rgba(17, 17, 17, 0.7);
  padding: 381px 40px 40px;
  background-image: linear-gradient(
      rgba(17, 17, 17, 0.4),
      rgba(17, 17, 17, 0.4)
    ),
    url(../images/hero/hero-bg-optim.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.hero-title {
  max-width: 484px;
  margin-bottom: 32px;
  color: var(--text-color);
  font-size: 28px;
  font-weight: 500;
  line-height: 1.21;
  letter-spacing: -0.03em;
}

.btn-wrapper {
  display: flex;
  justify-content: space-between;
}

.btn {
  color: var(--text-color);
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 600;
  padding: 14px 40px;
  border-radius: 100px;
  min-width: 144px;
  min-height: 45px;
}

.hero-buy {
  background-color: var(--accent-color);
  margin-right: 14px;
}

.hero-made {
  background-color: transparent;
  border: 1px solid #fff;
}

.arrow-link {
  display: flex;
  align-items: center;
  gap: 14px;
}

.arrow-icon {
  padding: 8px;
  background-color: var(--text-color);
  fill: var(--accent-color);
  border-radius: 50%;
}

.hero-scroll {
  color: var(--text-color);
  font-size: 14px;
  font-weight: 500;
  line-height: 1.29;
  letter-spacing: -0.03em;
}

.hero-arrow {
  width: 38px;
  height: 38px;
  background-color: var(--text-color);
  border-radius: 50%;
}

/* benefits section */
.benefits {
  background-color: var(--bckg-color);
  padding: 50px 0;
}

.benefits-title {
}

.benefits-list {
  display: flex;
  justify-content: space-between;
}

.benefit-item {
  width: 308px;
}

.benefit-subtitle {
  color: var(--text-color, #fff);
  font-size: 18px;
  font-weight: 600;
  line-height: 1.22;
  margin-bottom: 18px;
}

.benefit-text {
  color: rgba(255, 255, 255, 0.7);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.28;
  letter-spacing: -0.02em;
}

.benefit-icon {
  fill: var(--accent-color);
  /* padding: 15px;
  border-radius: 50%;
  border: 1px solid rgba(255, 255, 255, 0.50); */
  border: 1px solid var(--accent-color);
  border-radius: 50%;
}

/* gallery */
.gallery {
  padding: 120px 0 60px;
}

.gallery-title {
  color: var(--title-color, #111);
  text-align: center;
  font-size: 24px;
  font-weight: 600;
  line-height: 1.16;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  max-width: 412px;
  margin: 0 auto 50px;
}

.gallery-title span {
  color: var(--accent-color);
}

.gallery-list {
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
}

.gallery-item {
  position: relative;
  /* outline: solid blue; */
  /* width: 260px; */
  /* flex-basis: calc((100% - 32px * (4 - 1)) / 4); */
  padding: 28px 23px;
  background-color: var(--text-color);
  border-radius: 15px;
  outline: solid var(--accent-color);
}
.gallery-item:nth-child(4n + 1) {
  background-color: var(--accent-color);
  outline: none;
}
.gallery-item:nth-child(4n + 3) {
  background-color: var(--bckg-color);
  outline: none;
}
.images-gallery {
  margin-bottom: 36px;
}
.gallery-button {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 14px;
  top: 14px;
  border: 1px solid var(--text-color);
  border-radius: 50%;
  background: transparent;
  width: 24px;
  height: 24px;
}

.gallery-subtitle {
  color: var(--text-color, #fff);
  font-size: 14px;
  font-weight: 600;
  line-height: 1.29;
  letter-spacing: -0.02em;
  text-transform: uppercase;
}

.gallery-item:nth-child(2n) .gallery-subtitle {
  color: var(--title-color, #111111);
}

.backdrop {
  /* display: flex;
  justify-content: center;
  align-items: center;  */

  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(128, 0, 128, 0.5);
  backdrop-filter: blur(5px);
}
.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.modal {
  padding: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 517px;
  height: 794px;
  background-color: var(--modal-bg-color);
  border-radius: 15px;
}

.modal-close {
  position: absolute;
  top: 24px;
  right: 24px;
  background: transparent;
  outline: none;
}

/* Modal form   */
.modal-caption {
  display: block;
  color: #111;
  font-size: 24px;
  font-weight: 600;
  line-height: 1.16;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  max-width: 298px;
  margin-bottom: 40px;
}
.modal-caption-style {
  color: var(--accent-color);
}
.modal-form {
}
.modal-label {
  display: block;
  color: rgba(64, 64, 64, 0.3);
  font-size: 14px;
  letter-spacing: -0.02em;
  margin-bottom: 8px;
}
.modal-box {
  position: relative;
  margin-bottom: 18px;
}

.modal-input {
  width: 100%;
  height: 68px;
  padding: 22px 62px;
  border-radius: 13px;
  border: 1.5px solid rgba(0, 0, 0, 0.03);
  box-shadow: 0px 5.4px 5.4px 0px rgba(0, 0, 0, 0.03);
  transition: border-color 250ms;
  cursor: pointer;
  outline: none;
}

.modal-input:focus-within,
.modal-comment-field:focus-within {
  border-color: var(--accent-color);
}
.modal-input:focus-within + .modal-icon {
  stroke: var(--accent-color);
}
.modal-icon {
  position: absolute;
  top: 50%;
  left: 24px;
  transform: translateY(-50%);

  fill: transparent;
  stroke: #404040;
}
.modal-comment-field {
  display: block;
  width: 100%;
  height: 137px;
  padding: 22px 24px;
  color: #404040;
  font-size: 18px;
  letter-spacing: -0.02em;
  resize: none;
  border-radius: 13px;
  border: 1.5px solid rgba(17, 17, 17, 0.05);
  outline: transparent;
  margin-bottom: 18px;
}

.modal-comment-field::placeholder {
  color: rgba(64, 64, 64, 0.3);
}

.modal-agreement {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-bottom: 40px;
  font-size: 14px;
  letter-spacing: -0.02em;
  color: rgba(64, 64, 64, 0.6);
}
.modal-agreement-input {
  appearance: none;
}
.modal-checkbox {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  border-radius: 6px;
  border: 1px solid rgba(17, 17, 17, 0.14);
}
.modal-checkbox-icon {
  opacity: 0;
}

.modal-agreement-input:checked + .modal-checkbox > .modal-checkbox-icon {
  opacity: 1;
  fill: #ffffff;
}

.modal-agreement-input:checked + .modal-checkbox {
  background-color: var(--accent-color);
  border-color: transparent;
}

.modal-agreement-link {
  color: var(--accent-color);
}
.btn-submit {
  background-color: var(--accent-color);
}

.btn-submit:hover,
.btn-submit:focus {
  background-color: #fcf1e0;
  color: var(--accent-color);
  border: 1px solid var(--accent-color);
}
