:root {
  --title-color: #111111;
  --bckg-color: #1e1823;
  --accent-color: #fd9222;
  --text-color: #ffffff;

  --font-main: "Montserrat", sans-serif;
}

body {
  font-family: var(--font-main);
}
.header {
}
.navigation {
}
.logo {
}
.logo-text {
  color: var(--title-color, #111);
  font-size: 18px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: -0.03em;
}
.logo-icon {
}
.header-menu-list {
}
.header-item {
}
.header-link {
  color: var(--title-color, #111);
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: -0.02em;
}
.header-socials {
}
.header-social {
}
.header-social-link {
}
.header-icon {
}
/* Hero */
.hero {
}
.hero-title {
  color: var(--text-color);
  font-size: 28px;
  font-weight: 500;
  line-height: 1.21;
  letter-spacing: -0.03em;
}
.hero-buy {
}
.hero-made {
}
.hero-scroll {
  color: var(--text-color);
  font-size: 14px;
  font-weight: 500;
  line-height: 1.29;
  letter-spacing: -0.03em;
}
.hero-arrow {
}
.btn {
  color: var(--text-color);
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 600;
}

/* benefits section */
.benefits {
}
.benefits-title {

}
.benefits-list {

}
.benefit-item {
}
.benefit-subtitle {
  color: var(--text-color, #FFF);
font-size: 18px;
font-weight: 600;
line-height: 1.22;
}

.benefit-text {
  color: rgba(255, 255, 255, 0.70);
font-size: 14px;
font-weight: 400;
line-height: 1.28;
letter-spacing: -0.02em;
}

/* gallery */
.gallery {
}
.gallery-title {
  color: var(--title-color, #111);
text-align: center;
font-size: 24px;
font-weight: 600;
line-height: 1.16;
letter-spacing: -0.03em;
text-transform: uppercase;
}
.gallery-list {
}
.gallery-item {
}
.images-gallery {
}
.gallery-subtitle {
  color: var(--text-color, #FFF);
font-size: 14px;
font-weight: 600;
line-height: 1.29;
letter-spacing: -0.02em;
text-transform: uppercase;
}

.gallery-item:nth-child(2n) .gallery-subtitle {
  color: var(--title-color, #111111);
}